<!DOCTYPE html>
<html>
    <head>
        <!-- Add responsive behaviour in mobile devices -->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Site Info -->

        <title>
            {% if title %}
                LM Portfolio - {{title}}
            {% else %}
                LM Portfolio
            {% endif %}
        </title> 
        <meta name="description" content="Portfolio built with FastAPI">
        <meta name="author" content="Liovirgilda Mendonça">

        <!-- Bootstrap CSS-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
            crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">L&M</a>
                    <button class="navbar-toggler" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
                        aria-controls="navbarNavAltMarkup" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav me-auto">
                            <a class="nav-link" href="#">Home</a>
                            <a class="nav-link" href="#">Projects</a>
                            <a class="nav-link" href="#">Engineering decisions</a>
                            <a class="nav-link" href="#">Live API</a>
                            <a class="nav-link" href="#">Contact</a>
                        </div>
                        <span class="navbar-text">
                            Navbar text with an inline element
                        </span>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        
    </body>

    <!-- Bootstrap Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" 
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" 
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" 
        crossorigin="anonymous"></script>
</html>